.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.DS_Store
/out/
.idea/
*.class
src/test/java/

src/main/java/wearblackallday/aoc/_2020
src/main/resources/input/**


src/main/java/wearblackallday/aoc/_2021/Day16.java
src/main/java/wearblackallday/aoc/_2021/Day20.java
src/main/java/wearblackallday/aoc/_2021/Day21.java
src/main/java/wearblackallday/aoc/_2021/Day22.java
src/main/java/wearblackallday/aoc/_2021/Day23.java
src/main/java/wearblackallday/aoc/_2021/Day24.java
src/main/java/wearblackallday/aoc/_2021/Day25.java

